.image-text {
    font-size: 1.75rem;
}
.sector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100px;
    border-radius: 5px;
    margin: auto auto;
    flex-wrap: wrap;
    background: linear-gradient(to right, rgb(130, 16, 161), rgb(76, 254, 202));
}

.sector-container input {
    font-size: 1.5rem;
    width: 60%;
    border: 1px solid black;
}

.sector-container button {
    width: 30%;
    font-size: 1.5rem;
    background: linear-gradient(to right, rgb(139, 185, 26), rgb(29, 212, 240));
    border-radius: 2px;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.sector-container button:hover {
    transform: scale(1.1);
}